
<div class="registration-form">
<form >
    <h2>Online Registration</h2>

    <div>
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" placeholder="Username">
    </div>

    <br>

    <div>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" placeholder="Password">
    </div>

    <br>

    <div>
        <label for="confirmPassword">Confirm Password</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
    </div>

    <br>

    <div>
        <label for="email">Email Address</label><br>
        <input type="email" id="email" name="email" placeholder="Email Address">
    </div>

    <br>

    <div>
        <label for="age">Age</label><br>
        <input type="number" id="age" name="age" placeholder="Age">
    </div>

    <br>

    <div>
        <label for="city">Physical Address</label><br>
        <input type="text" id="city" name="city" placeholder="City">
    </div>

    <br>

    <button type="submit">Register</button>
</form>
</div>