
<div class="registration-form">
<form >
    <h2>Online Registration</h2>

    <div>
        <label for="firstName">First Name</label><br>
        <input type="text" id="firstName" name="firstName" placeholder="First Name">
    </div>

    <br>

    <div>
        <label for="lastName">Last Name</label><br>
        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
    </div>

    <br>

    <div>
        <label for="email">Email Address</label><br>
        <input type="email" id="email" name="email" placeholder="Email Address">
    </div>

    <br>

    <div>
        <label for="company">Company (if applicable)</label><br>
        <input type="text" id="company" name="company" placeholder="Company">
    </div>

    <br>

    <div>
        <label for="address">Physical Address</label><br>
        <input type="text" id="address" name="address" placeholder="Physical Address">
    </div>

    <br>

    <button type="submit">Register</button>
</form>
</div>